$color-background: #04011C;
$color-primary: #1E1B33;
$color-additional: linear-gradient(88deg, #0500FA 11.52%, #E01E5A 100%);
$color-number: #7040F2;
$color-text-primary: #FFF;
$color-nfts: linear-gradient(88deg, #06045B 11.52%, #E01E5A 100%);

$content-width: 1320px; 