@import "../../abstract/constants.scss";
@import "../../abstract/mixins.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.searchBtn {
    display: flex;
}